@charset "UTF-8";

@font-face {
    font-family: lucida;
    src: url(fonts/lucida.ttf);
}
/* CSS Document */
body {
	margin: -20px;
	margin-top:0px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* hover color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* close button */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* Style page content */
#main {
    transition: margin-left .5s;
    padding: 20px;
	margin-top: -20px;
}

/* < 450px */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.block {
	background-color:rgba(39,39,39,1.00);
	width:33.33%;
	height:100%;
	margin:0px;
	float:left;
}
.block:hover {
	background-color:#DA7300;
}

/* Name */
.name {
    font-size: 200%;
    color: #FFFFFF;
	position:static;
	top:40%;
	/*
	padding-left:8%;
	*/
}

.image {
	margin-top: 20%;
    position: static;
}

.quotes {
	font-family: lucida;
	font-size: xx-large;
	color: #FFFFFF;
}